.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media(min-width: 640px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media(min-width: 768px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media(min-width: 1024px) {
  .container {
    width: 920px;
    
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}

